{% extends "pari/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  
  <div class="container" style="margin-top: 5%">
        <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
          
                        <legend class="border-bottom mb-4">Poster un message sur le Forum</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Poste </button>
                    </div>
                </form>
               
            </div>
          
  </div>

{% endblock content %}