{% extends "pari/base.html" %}


{% block content %}
  <div class="container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
  
                <legend class="border-bottom mb-4">Supprimer le poste</legend>
                <h2>Etes vous sure de vouloir supprimer le Poste "{{ object.titre }}" du forum ?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Oui , supprimer</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Annuler</a>
            </div>
        </form>
       
    </div>
  
  </div>
 

{% endblock content %}